name: Test print variable
on: [push]
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Echo variable
        run: echo ${{ env.TEST_VAR }}
      - name: Print secret
        run: echo ${{ secrets.SECRET_VAR }}
